body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: inherit;
  }

header,
footer {
    background-color: #208454;
    color: #fff;
    text-align: center;
}